.vscode
.DS_Store
.next/
node_modules/
*.ffm
*.bak
prototype/video
history.db
public/static/trackerHistory.json
yarn-error.log
public/static/lastwebcamframe.jpg
public/static/trackerHistoryExport.json
# static/placeholder/frames/
