* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: black;
  color: white;
  cursor: default;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

@media (max-width: 700px) {
  body,
  html {
    font-size: 13px;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
}

video {
  width: 100%;
  z-index: -10;
  position: absolute;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
