/* reset, general
-------------------------------------------------- */

*{
  padding: 0;
  margin: 0;
}

/* fonts
-------------------------------------------------- */

@font-face{
  font-family:"MoovelAkkuratLight";
  src:url("fonts/MoovelAkkuratWeb-Light.eot");
  src:url("fonts/MoovelAkkuratWeb-Light.eot?#iefix") format("embedded-opentype"),
  url("fonts/MoovelAkkuratWeb-Light.woff") format("woff")
}

@font-face{
    font-family:"MoovelAkkuratBold";
    src:url("fonts/MoovelAkkuratWeb-Bold.eot");
    src:url("fonts/MoovelAkkuratWeb-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/MoovelAkkuratWeb-Bold.woff") format("woff")
  }

/* img, videos
-------------------------------------------------- */


/* Headings
-------------------------------------------------- */
/* h1 h2 in layout definieren*/
h1{
  font-family: "MoovelAkkuratBold", sans-serif;
  font-size: 80px;
  white-space: nowrap;
}

h2{
  font-family: "MoovelAkkuratBold", sans-serif;
  font-size: 35px;
}

h3{
  font-family: "MoovelAkkuratLight", sans-serif;
  font-size: 20px;
}

p{
  font-family: "MoovelAkkuratLight", sans-serif;
  font-size: 23px;
  line-height: 28px;
}

span{
  font-size: 13px;
}

@media (max-width: 900px) {
  h1{
    font-size: 50px;
  }
}

/* links
-------------------------------------------------- */

a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: blue;
}

/* site
-------------------------------------------------- */

html {
}

body{
  background-color: black;
  color: white;
}

/* header
-------------------------------------------------- */
header{
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  height: 20px;
  display:flex;
  align-items:center;
  z-index: 10;
}

header #level{
  display:flex;
  align-items:center;
}

header #level:hover{
  cursor: pointer;
}

header #location{
  margin-left: 10px;
}

header #time{
  position: absolute;
  right: 0px;
}

header #dropdown{
  top: -200px;
  right: 15px;
  left: 15px;
  max-width: 400px;
  position: fixed;
  background-color: white;
  color: #26262E;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

header #dropdown #close_dropdown{
  position: absolute;
  right: 0px;
}

header #dropdown #selections{
  padding-bottom: 15px;
}

header #dropdown #selections h3{
  padding-left: 21px;
  padding-top: 15px;
}

header #dropdown #selections h3:hover{
  color: #FFCC33;
  cursor: pointer;
}

/* main
-------------------------------------------------- */

main #c{
  bottom: 0;
  left: 0;
  image-rendering: pixelated;
  position: fixed;
  z-index: -10;
  opacity: 0.3;
}

@media (min-aspect-ratio: 16/9) {
  main #c {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  main #c {
    width: auto;
    height: 100%;
  }
}

@media (max-aspect-ratio: 16/9) AND (max-width: 720px) AND (min-height: 500px) {
  main #c {
    width: auto;
    left: -520px;
    height: 100%;
  }
}

main #v{
  display: none;
}

main #timecode{
  display: none;
}

main .subpage{
  top: 0%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 100;
  display: none;
}

main .subpage #close_subpage{
  position: fixed;
  right: 15px;
  top: 15px;
}

main .subpage #stats_text{
  margin-top: 300px;
  padding-bottom: 100px;
}

main .subpage p{
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

main .headline{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: none;
  z-index: 200;
}

main #info_headline, main #traffic_stats_headline{
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

@media (max-width: 900px) {
  main .subpage p{
    margin-left: 15px;
    margin-right: 15px;
    width:auto;
  }
}

/* footer
-------------------------------------------------- */

footer #counter{
  position: fixed;
  bottom: 5px;
  left: 15px;
  z-index: 10;
}

footer #menu #item_one{
  position: fixed;
  right: 15px;
  bottom: 70px;
  display:flex;
  align-items:center;
}

footer #menu #item_two{
  position: fixed;
  right: 15px;
  bottom: 15px;
  display:flex;
  align-items:center;
}

footer #menu .menu_title{
  position: fixed;
  white-space: nowrap;
  right: 70px;
  display: none;
}
