body{
  background-color: black;
}

h1{
  color: white;
  font-size: 50px;
}

#countdown{
  color: white;
  position: fixed;
  right: 15px;
  top: -20px;
}

p{
  font-size: 50px;
  margin-left: -7px;
  margin-top: -5px;
}

#looser{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: red;
  display: none;
}

#winner{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: green;
  display: none;
}

#looser h1, #winner h1{
  position: fixed;
  left: 40%;
  top: 35%;
}

#Rectangle{
  stroke: yellow;
  stroke-linejoin: round;
}

#graphic{
  position: fixed;
  left: 30%;
  top: 30%;
}

#graphic_2{
  position: fixed;
  left: 60%;
  top: 40%;
}

#graphic_3{
  position: fixed;
  left: 20%;
  top: 70%;
}

#graphic_4{
  position: fixed;
  left: 80%;
  top: 60%;
}

#rect, #rect_2, #rect_3, #rect_4{
  left: 20%;
  width: 40px;
  height: 40px;
  border: 4px solid white;
  transition: all 0.3s;
  border-radius: 2px;
}

#line, #line_2, #line_3, #line_4{
  height: 30px;
  width: 4px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
