@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./components/buttons.css";
@import "./components/toggle.css";

@import "tailwindcss/utilities";
 
body {
    --color-default: #fff;
    --color-default-soft: #F3F3F3;
    --color-inverse: #000000;
    --color-inverse-soft: #303030;
}

body.theme-dark {
    --color-default: #000000;
    --color-default-soft: #303030;
    --color-inverse: #fff;
    --color-inverse-soft: #F3F3F3;
}

body.theme-dark .overlay {
    background-color: rgba(255,255,255,.9);
}

.svg-openmoji * {
    stroke: currentColor !important;
}

.svg-icon * {
    stroke: currentColor !important;
    stroke-width: 1.5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}